.profile-text-pengontrak-edit-profile {
  color: black;
  font-family: "Russo One", sans-serif;
}

.background-pengontrak-edit-profile {
  --background: #e6e6e6;
}

.btn-edit-profile-pengontrak {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
