.profile-text-pemilik-edit-profile {
  color: black;
  font-family: "Russo One", sans-serif;
}

.background-pemilik-edit-profile {
  --background: #e6e6e6;
}

.btn-edit-profile-pemilik {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
