.navbar-detail-transaksi-pemilik {
  color: #000;
}
.card-gambar-detail-transaksi {
  box-shadow: none;
}
.informasi-detail-transaksi-pemilik {
  background-color: lightgray;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}
