.logo-image {
  width: 100px;
  height: 100px;
}

ion-content {
  --background: #e6e6e6;
}
ion-card,
ion-item,
ion-item-divider {
  --background: transparent;
}
.card {
  display: grid;
  place-items: center;
  height: 600px;
}
