.container-register {
  display: grid;
  place-items: center;
  background: transparent;
}
gantiWarna-register {
  color: #000 !important;
}
.icon-register {
  width: 40px;
  height: 40px;
}

.gantiwarna {
  --background: #000;
}
